<%= form_with(model: connector) do |form| %>
  <% if connector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connector.errors.count, "error") %> prohibited this connector from being saved:</h2>

      <ul>
        <% connector.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.number_field :course_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
